In [3]:
import pandas as pd

# Assuming the "data" folder is in the current working directory
file_path = 'data/data_v4.xlsx'

# Read the Excel file into a dataframe
df = pd.read_excel(file_path)

# Now the variable df contains the dataframe with the data from the Excel file

In [4]:
df.head()

,date,min_temp,max_temp,sunrise_time,sunset_time,hour,wc_temp,wind,middle_cloud,low_cloud,...,kma_weather_뇌우,kma_weather_눈,kma_weather_눈날림,kma_weather_맑음,kma_weather_비,kma_weather_비/눈,kma_weather_빗방울,kma_weather_빗방울/눈날림,kma_weather_소나기,kma_weather_흐림
0,110,1,5,742,1741,7,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,110,1,5,742,1741,8,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,110,1,5,742,1741,9,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,110,1,5,742,1741,10,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,110,1,5,742,1741,11,2,0,0,0,...,0,0,0,1,0,0,0,0,0,0

# 기계학습 분류

- 지도학습 : 입력x와 출력y가 제시되는 학습방식
- 비지도 학습 : 입력x만 주어지고 출력y 없이 군집화하는 방식
- 강화 학습 : 입력x와 출력대신 평가치 c만 알려주는 방식

# 지도학습

- 분류(Classification)
- KNN
- 회귀분석(Regression)
- DBN
- 신경망(ANN)
- 은닉 마르코프 모델(HMM)
- 의사결정 트리(Decision Tree)
- 다층 신경망(MLP)
- 지지벡터머신(SVM)
- 베이지안망(Bayesian Network)

# 기본으로 해야할 작업

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5122 entries, 0 to 5121
Data columns (total 86 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 5122 non-null   int64
 1   min_temp             5122 non-null   int64
 2   max_temp             5122 non-null   int64
 3   sunrise_time         5122 non-null   int64
 4   sunset_time          5122 non-null   int64
 5   hour                 5122 non-null   int64
 6   wc_temp              5122 non-null   int64
 7   wind                 5122 non-null   int64
 8   middle_cloud         5122 non-null   int64
 9   low_cloud            5122 non-null   int64
 10  kma_temp             5122 non-null   int64
 11  generation           5122 non-null   int64
 12  weather_1_가벼운눈       5122 non-null   int64
 13  weather_1_가벼운비       5122 non-null   int64
 14  weather_1_구름조금       5122 non-null   int64
 15  weather_1_뇌우         5122 non-null   int64
 16  weather_1_눈          5122 non-null   int64
 17  weather_1_대체로화창      5122 non-null   int64
 18  weather_1_대체로흐림      5122 non-null   int64
 19  weather_1_비          5122 non-null   int64
 20  weather_1_산발적인뇌우     5122 non-null   int64
 21  weather_1_소나기        5122 non-null   int64
 22  weather_1_소낙눈        5122 non-null   int64
 23  weather_1_화창         5122 non-null   int64
 24  weather_1_흐림         5122 non-null   int64
 25  weather_2_가벼운눈       5122 non-null   int64
 26  weather_2_가벼운비       5122 non-null   int64
 27  weather_2_구름조금       5122 non-null   int64
 28  weather_2_뇌우         5122 non-null   int64
 29  weather_2_대체로화창      5122 non-null   int64
 30  weather_2_대체로흐림      5122 non-null   int64
 31  weather_2_바람         5122 non-null   int64
 32  weather_2_비          5122 non-null   int64
 33  weather_2_산발적인뇌우     5122 non-null   int64
 34  weather_2_소나기        5122 non-null   int64
 35  weather_2_소낙눈        5122 non-null   int64
 36  weather_2_심한뇌우       5122 non-null   int64
 37  weather_2_없음         5122 non-null   int64
 38  weather_2_화창         5122 non-null   int64
 39  weather_2_흐림         5122 non-null   int64
 40  weather_3_가벼운비       5122 non-null   int64
 41  weather_3_구름조금       5122 non-null   int64
 42  weather_3_뇌우         5122 non-null   int64
 43  weather_3_대체로화창      5122 non-null   int64
 44  weather_3_대체로흐림      5122 non-null   int64
 45  weather_3_바람         5122 non-null   int64
 46  weather_3_비          5122 non-null   int64
 47  weather_3_산발적인뇌우     5122 non-null   int64
 48  weather_3_없음         5122 non-null   int64
 49  weather_3_화창         5122 non-null   int64
 50  weather_3_흐림         5122 non-null   int64
 51  wc_weather_가벼운눈      5122 non-null   int64
 52  wc_weather_가벼운비      5122 non-null   int64
 53  wc_weather_구름조금      5122 non-null   int64
 54  wc_weather_국지적인뇌우    5122 non-null   int64
 55  wc_weather_뇌우        5122 non-null   int64
 56  wc_weather_눈         5122 non-null   int64
 57  wc_weather_대체로맑음     5122 non-null   int64
 58  wc_weather_대체로화창     5122 non-null   int64
 59  wc_weather_대체로흐림     5122 non-null   int64
 60  wc_weather_맑음        5122 non-null   int64
 61  wc_weather_비         5122 non-null   int64
 62  wc_weather_비/눈       5122 non-null   int64
 63  wc_weather_비/소낙눈     5122 non-null   int64
 64  wc_weather_산발적이뇌우    5122 non-null   int64
 65  wc_weather_산발적인뇌우    5122 non-null   int64
 66  wc_weather_소나기       5122 non-null   int64
 67  wc_weather_소낙눈       5122 non-null   int64
 68  wc_weather_심한뇌우      5122 non-null   int64
 69  wc_weather_폭우        5122 non-null   int64
 70  wc_weather_한두차례소나기   5122 non-null   int64
 71  wc_weather_한두차례소낙눈   5122 non-null   int64
 72  wc_weather_화창        5122 non-null   int64
 73  wc_weather_흐림        5122 non-null   int64
 74  kma_weather_구름많음     5122 non-null   int64
 75  kma_weather_구름조금     5122 non-null   int64
 76  kma_weather_뇌우       5122 non-null   int64
 77  kma_weather_눈        5122 non-null   int64
 78  kma_weather_눈날림      5122 non-null   int64
 79  kma_weather_맑음       5122 non-null   int64
 80  kma_weather_비        5122 non-null   int64
 81  kma_weather_비/눈      5122 non-null   int64
 82  kma_weather_빗방울      5122 non-null   int64
 83  kma_weather_빗방울/눈날림  5122 non-null   int64
 84  kma_weather_소나기      5122 non-null   int64
 85  kma_weather_흐림       5122 non-null   int64
dtypes: int64(86)
memory usage: 3.4 MB

In [6]:
df.describe()

,date,min_temp,max_temp,sunrise_time,sunset_time,hour,wc_temp,wind,middle_cloud,low_cloud,...,kma_weather_뇌우,kma_weather_눈,kma_weather_눈날림,kma_weather_맑음,kma_weather_비,kma_weather_비/눈,kma_weather_빗방울,kma_weather_빗방울/눈날림,kma_weather_소나기,kma_weather_흐림
count,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,...,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000,5122.000000
mean,621.200508,12.697970,15.106599,641.474619,1836.888325,13.000000,14.166537,0.133151,26.539242,29.362944,...,0.000586,0.016790,0.001562,0.363530,0.096642,0.002929,0.021866,0.001367,0.000390,0.316673
std,364.485815,8.767002,8.468370,80.927712,80.366639,3.742023,8.667759,0.339771,38.579358,40.791544,...,0.024197,0.128498,0.039494,0.481062,0.295498,0.054042,0.146262,0.036947,0.019758,0.465224
min,101.000000,-8.000000,-4.000000,520.000000,1724.000000,7.000000,-9.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,303.000000,5.000000,8.000000,551.000000,1751.000000,10.000000,6.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,609.500000,12.500000,15.000000,638.500000,1830.500000,13.000000,14.000000,0.000000,0.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,924.000000,20.000000,23.000000,727.000000,1921.000000,16.000000,22.000000,0.000000,51.000000,63.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,1231.000000,28.000000,30.000000,743.000000,1952.000000,19.000000,30.000000,1.000000,100.000000,979.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
df.isnull().sum()

date                   0
min_temp               0
max_temp               0
sunrise_time           0
sunset_time            0
                      ..
kma_weather_비/눈        0
kma_weather_빗방울        0
kma_weather_빗방울/눈날림    0
kma_weather_소나기        0
kma_weather_흐림         0
Length: 86, dtype: int64

In [8]:
df.value_counts()

date  min_temp  max_temp  sunrise_time  sunset_time  hour  wc_temp  wind  middle_cloud  low_cloud  kma_temp  generation  weather_1_가벼운눈  weather_1_가벼운비  weather_1_구름조금  weather_1_뇌우  weather_1_눈  weather_1_대체로화창  weather_1_대체로흐림  weather_1_비  weather_1_산발적인뇌우  weather_1_소나기  weather_1_소낙눈  weather_1_화창  weather_1_흐림  weather_2_가벼운눈  weather_2_가벼운비  weather_2_구름조금  weather_2_뇌우  weather_2_대체로화창  weather_2_대체로흐림  weather_2_바람  weather_2_비  weather_2_산발적인뇌우  weather_2_소나기  weather_2_소낙눈  weather_2_심한뇌우  weather_2_없음  weather_2_화창  weather_2_흐림  weather_3_가벼운비  weather_3_구름조금  weather_3_뇌우  weather_3_대체로화창  weather_3_대체로흐림  weather_3_바람  weather_3_비  weather_3_산발적인뇌우  weather_3_없음  weather_3_화창  weather_3_흐림  wc_weather_가벼운눈  wc_weather_가벼운비  wc_weather_구름조금  wc_weather_국지적인뇌우  wc_weather_뇌우  wc_weather_눈  wc_weather_대체로맑음  wc_weather_대체로화창  wc_weather_대체로흐림  wc_weather_맑음  wc_weather_비  wc_weather_비/눈  wc_weather_비/소낙눈  wc_weather_산발적이뇌우  wc_weather_산발적인뇌우  wc_weather_소나기  wc_weather_소낙눈  wc_weather_심한뇌우  wc_weather_폭우  wc_weather_한두차례소나기  wc_weather_한두차례소낙눈  wc_weather_화창  wc_weather_흐림  kma_weather_구름많음  kma_weather_구름조금  kma_weather_뇌우  kma_weather_눈  kma_weather_눈날림  kma_weather_맑음  kma_weather_비  kma_weather_비/눈  kma_weather_빗방울  kma_weather_빗방울/눈날림  kma_weather_소나기  kma_weather_흐림
101   2         6         742           1734         7     2        0     0             3          3         0           0               0               1               0             0            0                0                0            0                 0              0              0             0             0               0               0               0             0                1                0             0            0                 0              0              0               0             0             0             0               0               0             0                0                0             0            0                 1             0             0             0                0                1                0                  0              0             0                 0                 0                 0              0             0               0                 0                  0                  0               0               0                0              0                   0                   0              0              0                 0                 0               0              0                0               0              0                0                0                    0                1                 1
924   21        25        625           1830         13    25       0     0             0          26        151704896   0               0               0               0             0            0                1                0            0                 0              0              0             0             0               0               1               0             0                0                0             0            0                 0              0              0               0             0             0             0               0               0             0                0                0             0            0                 1             0             0             0                0                1                0                  0              0             0                 0                 0                 0              0             0               0                 0                  0                  0               0               0                0              0                   0                   0              0              1                 0                 0               0              0                0               0              0                0                0                    0                0                 1
823   26        27        602           1914         7     26       0     59            79         25        0           0               0               0               1             0            0                0                0            0                 0              0              0             0             0               0               0               0             0                0                0             0            0                 0              0              1               0             0             0             0               0               0             0                0                0             0            0                 1             0             0             0                0                0                0                  1              0             0                 0                 0                 0              0             0               0                 0                  0                  0               0               0                0              0                   0                   0              0              0                 0                 0               0              0                0               1              0                0                0                    0                0                 1
822   28        29        601           1916         19    28       0     25            74         26        6286560     0               0               0               1             0            0                0                0            0                 0              0              0             0             0               0               1               0             0                0                0             0            0                 0              0              0               0             0             0             0               0               1             0                0                0             0            0                 0             0             0             0                0                0                0                  1              0             0                 0                 0                 0              0             0               0                 0                  0                  0               0               0                0              0                   0                   0              0              0                 0                 0               0              0                0               0              0                0                0                    0                1                 1
                                                     18    28       0     9             8          28        34716864    0               0               0               1             0            0                0                0            0                 0              0              0             0             0               0               1               0             0                0                0             0            0                 0              0              0               0             0             0             0               0               1             0                0                0             0            0                 0             0             0             0                0                0                0                  1              0             0                 0                 0                 0              0             0               0                 0                  0                  0               0               0                0              0                   0                   0              0              0                 0                 0               0              0                0               1              0                0                0                    0                0                 1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ..
405   12        14        617           1858         10    14       0     99            100        16        3121216     0               0               0               0             0            0                0                1            0                 0              0              0             0             0               0               0               0             0                0                0             0            0                 0              0              0               0             0             1             0               0               0             0                0                0             0            0                 1             0             0             0                0                0                0                  0              0             0                 0                 0                 0              1             0               0                 0                  0                  0               0               0                0              0                   0                   0              0              0                 0                 0               0              0                0               1              0                0                0                    0                0                 1
                                                     9     14       0     100           100        16        314048      0               0               0               0             0            0                0                1            0                 0              0              0             0             0               0               0               0             0                0                0             0            0                 0              0              0               0             0             1             0               0               0             0                0                0             0            0                 1             0             0             0                0                0                0                  0              0             0                 0                 0                 0              1             0               0                 0                  0                  0               0               0                0              0                   0                   0              0              0                 0                 0               0              0                0               1              0                0                0                    0                0                 1
                                                     8     13       0     100           100        15        0           0               0               0               0             0            0                0                1            0                 0              0              0             0             0               0               0               0             0                0                0             0            0                 0              0              0               0             0             1             0               0               0             0                0                0             0            0                 1             0             0             0                0                0                0                  0              0             0                 0                 0                 0              1             0               0                 0                  0                  0               0               0                0              0                   0                   0              0              0                 0                 0               0              0                0               1              0                0                0                    0                0                 1
                                                     7     13       0     100           100        15        0           0               0               0               0             0            0                0                1            0                 0              0              0             0             0               0               0               0             0                0                0             0            0                 0              0              0               0             0             1             0               0               0             0                0                0             0            0                 1             0             0             0                0                0                0                  0              0             0                 0                 0                 0              1             0               0                 0                  0                  0               0               0                0              0                   0                   0              0              0                 0                 0               0              0                0               1              0                0                0                    0                0                 1
1231  7         8         742           1734         19    6        1     0             100        5         0           0               0               0               0             0            0                1                0            0                 0              0              0             0             0               0               0               0             0                0                0             0            0                 0              0              0               0             0             1             0               0               0             0                0                1             0            0                 0             0             0             0                0                0                0                  0              0             0                 0                 0                 0              0             0               0                 0                  0                  0               0               0                0              0                   0                   0              1              0                 0                 0               0              0                0               0              0                0                0                    0                1                 1
Name: count, Length: 5122, dtype: int64