### *tuple 인수

- 여러 개의 인수를 전달 받을 수 있습니다.
- 여러 개의 인수를 전달 받은 `*args`에는 튜플(tuple) 형식으로 데이터가 저장됩니다.
- `*args`로 받은 인수는 반복문으로 처리하는 것이 일반 적입니다.
- 대체적으로 `*args` 변수가 많이 사용됩니다.

In [ ]:
def add_function(*args):
    result = 0
    print(f'args의 타입: {type(args)}')
    for arg in args:
        print(arg)
        result += arg
    print('==='* 5)
    print(f'sum: {result}')

아무런 값을 전달하지 않은 경우(생략 가능)

In [ ]:
add_function()

args의 타입: <class 'tuple'>
===============
sum: 0

1개의 값을 전달한 경우

In [ ]:
add_function(1)

args의 타입: <class 'tuple'>
1
===============
sum: 1

복수의 값을 전달한 경우

In [ ]:
add_function(1, 2, 3, 4, 5)

args의 타입: <class 'tuple'>
1
2
3
4
5
===============
sum: 15

### 위치 매개변수와 *tuple 매개변수의 혼용

- *tuple 매개변수는 위치 매개변수의 뒤에 위치해야 합니다.

In [ ]:
def add_function(a, *args):
    print(f'a: {a}')
    print('==='* 5)
    result = 0
    for arg in args:
        print(arg)
        result += arg
    print('==='* 5)
    print(f'sum: {result}')

아무런 값을 지정하지 않은 경우
- 위치 매개변수 미지정으로 인한 Error 발생

In [ ]:
add_function()

TypeError: add_function() missing 1 required positional argument: 'a'

단일 값을 지정한 경우

In [ ]:
add_function(1)

a: 1
===============
===============
sum: 0

복수의 값을 지정한 경우

In [ ]:
add_function(1, 2, 3, 4, 5)

a: 1
===============
2
3
4
5
===============
sum: 14

### **dict 인수

- 여러 개의 인수를 전달 받을 수 있습니다.
- 여러 개의 인수를 전달 받은 `**kwargs`에는 딕셔너리(dict) 형식으로 데이터가 저장됩니다.
- `**kwargs`로 받은 인수 역시 반복문으로 처리하는 것이 일반 적입니다.
- 대체적으로 `**kwargs` 변수가 많이 사용됩니다.

In [ ]:
def add_function(**kwargs):
    total_age = 0
    for name, age in kwargs.items():
        print(f'이름: {name}, 나이: {age}')
        total_age += age
    print('==='* 5)
    print(f'전체 나이의 합계: {total_age}')

아무런 값을 지정하지 않은 경우

In [ ]:
add_function()

===============
전체 나이의 합계: 0

단일 값을 지정한 경우

In [ ]:
add_function(lee=5)

이름: lee, 나이: 5
===============
전체 나이의 합계: 5

In [ ]:
add_function(john=10, peter=12, lee=5)

이름: john, 나이: 10
이름: peter, 나이: 12
이름: lee, 나이: 5
===============
전체 나이의 합계: 27

딕셔너리(dictionary)를 인수로 지정하는 경우 `**`를 앞에 붙혀 줍니다.

In [ ]:
person = {'john': 10, 'peter': 12, 'lee': 5}
person

{'john': 10, 'peter': 12, 'lee': 5}

In [ ]:
add_function(**person)

이름: john, 나이: 10
이름: peter, 나이: 12
이름: lee, 나이: 5
===============
전체 나이의 합계: 27

## lambda : 익명 함수(annonymous function)

- 이름 없이 정의된 함수 입니다.
- **단일 문장(1줄)**의 코드로 작성되어야 합니다.
- 함수 내부에서는 return문이 포함하지 않지만 값을 반환합니다.

**단일 인수**를 가지는 lambda 함수

In [ ]:
a = lambda x: x * 2

In [ ]:
a(4)

8

**2개의 인수**를 가지는 lambda 함수

In [ ]:
a = lambda x, y: x * y

In [ ]:
a(4, 8)

32

**기본 값이 지정된 인수**를 가지는 lambda 함수

In [ ]:
a = lambda x, y=10: x * y

In [ ]:
a(3)

30

**키워드 인수**를 지정하는 lambda 함수

In [ ]:
a(y=5, x=3)

15

lambda 함수 내부에서 **조건문** 사용

In [ ]:
a = lambda x, y: x * y if x > 0 else y

In [ ]:
a(4, 8)

32

In [ ]:
a(-1, 8)

8

다음과 같이 `elif` 구문을 억지로 생성할 수 있습니다.

하지만, 복잡한 조건문을 사용하기 위해서는 일반적인 함수 사용을 권장합니다. (코드의 가독성이 떨어집니다.)

In [ ]:
a = lambda x: x * 10 if x < 2 else (x**2 if x < 4 else x + 10)

In [ ]:
a(1)

10

In [ ]:
a(3)

9

In [ ]:
a(4)

14

# 내장함수(built-in function)

- 파이썬에는 이미 만들어진 내장함수가 존재합니다.
- 이미 사용하고 있는 `print()`, `type()`이 파이썬의 대표적인 내장함수입니다.
- 이 밖에도 유용한 몇 가지 내장함수를 알아 보겠습니다.

## map

- 문법: **map(function, iterable)**
- map은 함수(f)와 순회 가능한(iterable) 자료형을 입력으로 받습니다. 
- map은 입력받은 자료형의 각 요소를 함수(function)가 수행한 결과를 묶어서 돌려줍니다.

In [ ]:
sample_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

map만 실행시 요소의 내용이 바로 출력되지 않습니다.

In [ ]:
map(str, sample_data)

list()로 타입 변환하여 요소를 출력합니다.

In [ ]:
list(map(str, sample_data))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

### map에 lambda 함수 적용

In [ ]:
result = map(lambda x: x*2, sample_data)
list(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### map에 다중 인수를 지정

In [ ]:
sample_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sample_data_2 = [0, 1, 2, 3, 5, 8, 13, 21, 34, 55]
list(map(lambda x, y: x+y, sample_data, sample_data_2))

[1, 3, 5, 7, 10, 14, 20, 29, 43, 65]

### list의 size가 다른 경우, 작은 size에 맞춰 생성

In [ ]:
sample_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sample_data_2 = [1, 1, 1, 10, 100]

In [ ]:
list(map(lambda x, y: x+y, sample_data, sample_data_2))

[2, 3, 4, 14, 105]

## fIlter

- 문법: **fIlter(function, iterable)**
- `filter` 내장함수는 값을 filter 할 때 사용합니다.
- True인 값을 가지는 요소만 filter 합니다.

In [ ]:
sample_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

lambda 함수를 지정한 경우

In [ ]:
result = filter(lambda x: True if (x % 2 == 1) else False, sample_data)
list(result)

[1, 3, 5, 7, 9]

함수를 선언하여 함수명으로 지정한 경우

In [ ]:
def three_multiple(x):
    if x % 3 == 0:
        return True
    else:
        return False

In [ ]:
# 함수의 이름만 입력
result = filter(three_multiple, sample_data)
list(result)

[3, 6, 9]

## zip

- 문법: **zip(*iterable)**
- 동일한 개수로 이루어진 자료형을 묶어 주는 역할을 합니다.

In [ ]:
sample_data1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sample_data2 = [0, 1, 2, 3, 5, 8, 13, 21, 34, 55]
sample_data3 = [5, 6, 7]

`sample_data1`, `sample_data2`을 zip으로 묶어준 경우

In [ ]:
result = zip(sample_data1, sample_data2)
list(result)

[(1, 0),
 (2, 1),
 (3, 2),
 (4, 3),
 (5, 5),
 (6, 8),
 (7, 13),
 (8, 21),
 (9, 34),
 (10, 55)]

`sample_data1`, `sample_data2`, `sample_data3`을 zip으로 묶어준 경우

- 작은 size를 가지는 리스트(list)에 맞춰 생성합니다.

In [ ]:
list(zip(sample_data1, sample_data2, sample_data3))

[(1, 0, 5), (2, 1, 6), (3, 2, 7)]

### zip의 응용

In [ ]:
number = [1, 2, 3, 4]
name = ['홍길동','김철수','John','Paul']

In [ ]:
number_name = list(zip(number,name))
number_name

[(1, '홍길동'), (2, '김철수'), (3, 'John'), (4, 'Paul')]

### zip을 활용한 dict 만들기

In [18]:
number = [1, 2, 3, 4]
name = ['홍길동','김철수','John','Paul']
dic = {}

for number, name in zip(number,name): 
    dic[number] = name

In [19]:
dic

{1: '홍길동', 2: '김철수', 3: 'John', 4: 'Paul'}

위랑 같은 dict만들기(range(len) 이용)

In [29]:
number = [1, 2, 3, 4]
name = ['홍길동','김철수','John','Paul']
dic = {}

for i in range(len(number)):
    dic[number[i]] = name[i]
dic

{1: '홍길동', 2: '김철수', 3: 'John', 4: 'Paul'}

## enumerate

- [문법]: **enumerate(iterable, start=0)**
- 순서가 있는 자료형을 입력 받아 index를 포함하는 객체로 return 합니다.

일반 `range()` 함수를 사용한 경우

In [ ]:
for value in range(1, 10, 2):
    print(value)

1
3
5
7
9

`enumerate()` 함수를 사용하여 index를 return 받은 경우

In [ ]:
for idx, value in enumerate(range(1, 10, 2)):
    print(f'index: {idx}, value: {value}')

index: 0, value: 1
index: 1, value: 3
index: 2, value: 5
index: 3, value: 7
index: 4, value: 9